body {
  background-color: #282c34;
}
.movie-container {
  background-color: black;
  min-width: 225px;
  width: 225px;
  margin: 50px;
  color: orange;
  font-weight: bold;
  font-family: cursive;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #282c34;
}

.stick {
  position : sticky;
  top: 0px;
}

.stick2 {
  position : sticky;
  top: 100px;
}
.form-container {
  height: 100px;
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
  padding: 20px;
}

.text-container {
  text-align: center;
}

.form-container input {
  width: 300px;
  border-radius: 30px;
  background-color: black;
  color: white;
  margin-right : 20px
}

.add {
  display: flex;
  justify-content: center;
  background-color: #282c34;
  padding-top: 30px
}

.add button {
  background-color: #282c34;
  color: orange;
  font-weight: bold;
   border: 2px solid white ;
}

.modal-style {
  width: 500px;
  height: 500px;
  background-color: grey;
  top: 200px;
  


}